<div class=row>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :identification_type %>
      <%= f.select :identification_type, options_for_select(identification_types_for_select), { prompt: "Seleccionar" }, {class: "form-control identification-type-select"} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :identification_number %>
      <%= f.text_field :identification_number, autofocus: true, class: 'form-control identification-number-field' %>
      <%= content_tag :div, nil, id: "url_identification_number", data: {url: instantiate_user_path} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :surname %>
      <%= f.text_field :surname, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
    </div>
  </div>
</div>
